# Байт-компилированные файлы / оптимизированные / файлы DLL
__pycache__/
*.py[cod]
*$py.class

# Файлы окружения
.env
*.session

# Виртуальные среды
venv/
env/
.venv/

# Файлы IDE
.vscode/
.idea/

# Логи
*.log

# Файлы, сгенерированные ОС
.DS_Store
Thumbs.db
